<div id="wrapper" class="container">
<header></header>
<router-outlet></router-outlet>
<footer></footer>
</div>
<!-- <div class="container">
    <h1>
      Welcome to {{title}}!!
    </h1>
    <hr />
      <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" ngModel name="name">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" ngModel name="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" ngModel name="password">
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
  </div> -->
  