<section class="header_text sub">
<img class="pageBanner" src="assets/themes/images/carousel/banner-1.jpg" alt="New products" >
</section>
<section class="main-content">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="block">	
				<ul class="nav nav-list">
					<li class="nav-header">TOPIC</li>
					<li routerLinkActive="active" *ngFor="let topic of allTopic" ><a routerLink="/detail/{{topic.id}}">{{topic.name}}</a></li>
					
				</ul>
			</div>
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header text-center">Advertising</li>
				<div class="">
					<img style="height: 500px" src="assets/themes/images/quangcao.png" alt="" />
				</div>
				</ul>	
			</div>
		</div>						
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<section class="header_text sub">
				<h4 *ngFor="let titletopic of oneTopic" ><span>{{titletopic.name}}</span></h4>
			</section>
				
			<ul class="thumbnails listing-products">
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" 
				*ngFor="let vocabulary of vocaBaseOnTopic">
					<div class="product-box">
						<span class="sale_tag"></span>
						<p><a routerLink="/detail/{{vocabulary.id_topics}}"><img style = "width: 185px; height: 150px;" src="assets/themes/images/vocabulary/{{vocabulary.image}}" alt="" /></a></p>
						<a routerLink="/detail/{{vocabulary.id_topics}}"> {{ vocabulary.name }} </a><br/>
						<a routerLink="/detail/{{vocabulary.id_topics}}" class="category">{{ vocabulary.pronuciation }}</a>
						<p class="price">{{ vocabulary.meaning }}</p>
					</div>
				</li>
			</ul>								
			<hr>
		</div>
		
	</div>
</section>